.add_property_attribute_container {
  max-width: 600px;
}
#add_attribute_selector {
  width: 300px;
}
.add_property_attribute_link {
  margin-bottom: 20px;
  clear: both;
}

.property-attribute-container {
  margin-top: 40px;

  &.hovered {
    background: #EEEEEE;
    border-radius: 10px;
  }
}

table.table-property-attribute tr td:first-child {
  width: 30%;
}
table.table-property-attachment tr td:first-child {
  width: 30%;
}

tr.property_attachment_container td, li.property-attachment-container {
  background: #EEEEEE;
  border-radius: 10px;
}

li.property-attachment-container {
  background: #EEEEEE;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
}

img.property-attribute-attachment {
  max-width: 200px;
  max-height: 200px;
}
img.property-attribute-attachment-icon {
  max-width: 64px;
  max-height: 64px;
}